#wrapper {
 width: 100%;
 font-family: "Sawarabi Gothic";
 font-size: 14px;
 line-height: 1.7;
 background-color: #f0f8ff;
}

.top_page {
 position: fixed;
 z-index: 1000;
 top: 32px;
 height: 32px;
 left: 64px;
 width: 32px; 
 text-align: center;
 border: solid 2px #1a1919;
}

.top_page a {
 vertical-align: middle;
 padding: 5px 10px;
}

.humberger_wrap {
 position: fixed;
 z-index: 1000;
 width: 21px;
 height: 21px;
 top: 31.5px;
 right: 0;
 padding-right: 64px;
 padding-top: 9px;
 text-align: right;
 cursor: pointer;
}

.humberger {
 display: block;
 position: relative;
 width: 21px;
 height: 2px;
 background: #1a1919;
 border-radius: 1px;
}

.humberger:before {
 content: "";
 position: absolute;
 display: block;
 width: 21px;
 height: 2px;
 background: #1a1919;
 border-radius: 1px;
 bottom: 8px;
}

.humberger:after {
 content: "";
 position: absolute;
 display: block;
 width: 21px;
 height: 2px;
 background: #1a1919;
 border-radius: 1px;
 top: 8px;
}













































































